*{
	margin: 0;
	padding: 0;
}	
.header{
	height: 55px;
	background-color:#ffffff;
}
.header .logo{
	float: left;
	font-size: 21px;
	margin-left: 64px;
	font-family: "黑体";
	color: #393a3a;
}
.logo img{
    vertical-align: middle;
    height: 55px;
    margin-right: 13px;
}
.header .nav{
	float: right;
	height: 55px;
}
.header .nav ul li{
	float: left;
	list-style-type: none;
	width: 100px;
	height: 52px;
	text-align: center;
	line-height: 52px;
}
.header .nav ul li a{
	font-family: "微软雅黑";
	font-size: 14px;
	text-decoration: none;
	color: #393A3A;
	display: block;
}
.header .nav ul li:nth-child(6){
	background-image:url(../img/icon-2_raw=true.jpg);
	background-repeat: no-repeat;
    background-position: 18px 18px; 
}
.header .nav ul li a:hover{
	color: red;
	border-bottom: 3px solid red;
}
.main .feature-wrap{
	height: 690px;
	background-image: url(../img/banner_raw=true.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.main .feature-wrap-in{
	height: 457px;
	background-color: rgba(0,0,0,0.2);
	padding-top: 233px;
}
.main .feature-wrap-in h1{
	font-family: "微软雅黑";
	color: #FFFFFF;
	margin-left:150px ;
	font-size: 60px;
}
.main .feature-wrap-in p{
	font-size: 21px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	margin-left: 150px;
	margin-top:15px ;
}
.main .feature-wrap-in input{
	width:320px;
	height: 70px;
	background-color:#e74f4d;
	margin-top: 75px;
	margin-left: 150px;
	font-size:30px;
	font-family: "微软雅黑";
	color:#FFFFFF;
	border: none;
}
.main .feature .feature-list{
	height: 250px;
}
.main .feature .feature-list div{
	width: 25%;
	float: left;
	text-align: center;
	position: relative;
}
.main .feature .feature-list div:nth-of-type(1){
	background-image: url(../img/circle_raw=true.png);
	background-repeat: no-repeat;
	background-position: center 43px;
}
.main .feature .feature-list div:nth-of-type(2){
	background-image: url(../img/flag_raw=true.png);
	background-repeat: no-repeat;
	background-position: center 43px;
}
.main .feature .feature-list div:nth-of-type(3){
	background-image: url(../img/flower_raw=true.png);
	background-repeat: no-repeat;
	background-position: center 43px;
}
.main .feature .feature-list div:nth-of-type(4){
	background-image: url(../img/square_raw=true.png);
	background-repeat: no-repeat;
	background-position: center 43px;
}
.main .feature .feature-list div p{
	margin-left: 75px;
	margin-right: 75px;
	padding-top: 133px;
	font-family: "黑体";
	font-size: 14px;
}
.main .feature .feature-list div span{
	position: absolute;
	bottom: 0;
	right: 0;
	border: 2px solid #aba6a5;
	height: 50px;
}
.main .about .about-up{
	height: 270px;
	background-color: #ededec;
	text-align: center;
	padding-top: 90px;
}
.main .about .about-up p{
	font-family: "微软雅黑";
	font-size: 54px;
	color: rgba(51,51,51,0.5);
	padding-top: 40px;
}
.main .about .about-down{
	height: 290px;
	background-image: url(../img/map_raw=true.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "微软雅黑";
	color: #FFFFFF;
	padding-top: 50px;
}
.main .about .about-down h3{
	text-align: center;
	font-size: 21px;
	margin-bottom: 10px;
}
.main .about .about-down hr{
	width: 30px;
	border: 1px solid #FFFFFF;
	margin: 0 auto;
	margin-bottom: 20px;
}
.main .about .about-down p{
	text-align: center;
	margin-bottom: 52px;
}
.main .about .about-down div{
	width: 1030px;
	margin: 0 auto;
	position: relative;
}
.main .about .about-down div ul{
	position: absolute;
	left:264px;
	list-style-type: none;
	background: #e3e3e4;
	color: #4f5152;
	border: 1px solid #be4e48;
	font-size: 12px;
	color: #4f5152;
}
.main .about .about-down div ul li{
	width: 203px;
	padding-left: 32px;
	height: 36px;
	line-height: 36px;
}
.main .about .about-down div ul li:hover{
	background-color: #BE4E48;
	color: #FFFFFF;
	background-image: url(../img/swosh_raw=true.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.main .about .about-down div input{
	width: 237px;
	height: 36px;
	border: none;
	font-family: "微软雅黑";
}
.main .about .about-down div .sel{
	width: 225px;
	padding-left: 12px;
	margin-right: 22px;
	font-size: 12px;
	background-image: url(../img/red-arrow_raw=true.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.main .about .about-down div .sub{
	font-size: 14px;
	color: #FFFFFF;
	background-color: #BE4E48;
}
.main .about .about-down div input:nth-of-type(2){
	border: 1px solid #BE4E48;
	width: 223px;
	height: 34px;
}
.show_world .show_world_top{
	background-color:#ededec;
	height: 505px;
	text-align: center;
	padding-top: 100px;
}
.show_world .show_world_top>div{
	display: inline-block;
	width: 217px;
	height: 391px;
	margin-right: 38px;
}
.show_world .show_world_top div:nth-of-type(4){
	margin-right: 0;
}
.show_world .show_world_top>div div{
	background-color: #FFFFFF;
	border: 1px solid #e1dedc;
	padding:15px 5px;
	margin-bottom: 12px;
	height: 309px;
	float: left;
}
.show_world .show_world_top>div:nth-of-type(2) div{
	margin-bottom: 0;
	
}
.show_world .show_world_top>div h2{
	font-size: 14px;
	color: #524c4a;
	margin-bottom: 12px;
	float: left;
    width: 217px;
}
.show_world .show_world_top>div:nth-of-type(2) h2{
	font-size: 24px;
	letter-spacing: 23px;
	margin-bottom: 5px;
	margin-left: 10px;
	
}
.show_world .show_world_top>div p{
	font-size: 12px;
	color: #7f7773;
	float: left;
	width: 217px;
}
.show_world .show_world_top>div:nth-of-type(2) p{
	margin-bottom: 7px;
}
.show_world_middle{
	height: 575px;
	text-align: center;
	font-family: "微软雅黑";
}
.middle_left{
	width: 66.6%;
	height: 443px;
	padding-top: 132px;
	background-image: url(../img/middle-left_raw=true.jpg);
	background-size: cover;
	float: left;
	color: #FFFFFF;
}
.middle_left h2{
	font-size:49.47px ;
}
.middle_left h1{
	font-size: 157.79px;
}
.middle_left p{
	font-size: 21.91px;
}
.middle_right{
	height: 412px;
	margin-top: 163px;
	float: right;
	width: 33.3%;
	background-image: url(../img/point_raw=true.png);
	background-repeat: no-repeat;
	background-position: center 300px;
}
.middle_right h3{
	font-size: 30px;
	margin-bottom: 22px;
}
.middle_right h3 span{
	color: #E74F4D;
}
.middle_right p{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #aaaaaa;
	padding-left: 69px;
	padding-right: 69px;
	text-align: left;
	margin-bottom: 47px;
	line-height: 32px;
}
.middle_right button{
	width: 107px;
	height: 34px;
	color: #E74F4D;
	border: 1px solid #E74F4D;
	background-color:#FFFFFF;
}
.show_world_bottom{
	height: 520px;
}
.show_world_bottom div{
	width: 33.3%;
	float: left;
	height: 348px;
    padding-top: 172px;	
    text-align: center;
    font-family: "微软雅黑";
    font-size: 21px;
}    
.show_world_bottom div:nth-of-type(1){
	background-color:#E74F4D;
	color: #FFFFFF;
}
.show_world_bottom div p{
	margin-bottom:23px;
}
.show_world_bottom div hr{
	width: 40px;
	margin: 0 auto;
	margin-bottom:23px ;
}
.show_world_bottom div:nth-of-type(1) hr{
	border: 1px solid #FFFFFF;
}

.show_world_bottom div button{
	width: 170px;
	height: 40px;
	font-size: 21px;
	font-family: "黑体";
}
.show_world_bottom div:nth-of-type(1) button{
	border: 1px solid #FFFFFF;
	background-color:#E74F4D;
	color: #FFFFFF;
}
.show_world_bottom div:nth-of-type(2) button{
	border: 1px solid #E74F4D;
	background-color:#FFFFFF;
	color: #E74F4D;
}
.show_world_bottom div:nth-of-type(3){
	background-image: url(../img/train_raw=true.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.show_world_bottom div:nth-of-type(3)  span{
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 25px solid #FFFFFF;
	top: 240px;
	left: 0;
}
.volunteer{
	height: 632px;
	padding-top: 118px;
}
.volunteer h2{
	text-align: center;
	margin-bottom: 8px;
	font-size: 21px;
	font-family: "黑体";
	color: #323333;
}
.volunteer hr{
	width: 35px;
	border: 1px solid #E74F4D;
	margin: 0 auto;
	margin-bottom: 15px;
}
.volunteer p{
	text-align: center;
	font-size: 12px;
	color: #AAAAAA;
	font-family: "微软雅黑";
	margin-bottom: 102px;
}
.volunteer .v-sign{
	width: 1006px;
	height:282px; 
	margin: 0 auto;
}
.v-sign .agreement{
	float: left;
	width: 293px;
	height: 282px;
}
.v-sign .agreement h2{
	margin-bottom: 24px;
	font-family: "黑体";
	font-size: 14px;
	text-align: left;
}
.v-sign .agreement p{
	font-family: "宋体";
	font-size: 12px;
	margin-bottom: 0;
	color: #9a9b9b;
	text-align: left;
}
.v-sign .agreement span{
   display: block;
   width: 100%;
   text-align: right;
   background-image: url(../img/arrow_raw=true.png);
   background-repeat: no-repeat;
   background-position: 249px 8px;
   margin-bottom:20px ;
}
.v-sign .form-list{
	float: right;
	width: 640px;
	height: 282px;
}
.v-sign .form-list input,textarea{
    background-color: #E1DEDC;
    border: none;
    font-family: "宋体";
    font-size: 12px;
    color: #231815;
}
.v-sign .form-list input{
	width: 294px;
	height: 40px;
	margin-bottom: 14px;
	padding-left: 17px;
}
.v-sign .form-list textarea{
	width: 640px;
    height: 100px;
    padding: 10px 0;
    margin-bottom: 14px;
    text-indent:17px;
    resize: none;
}
.v-sign .form-list input:nth-last-of-type(1){
	width: 640px;
	font-size: 14px;
}
.v-sign .form-list input:nth-last-of-type(1),.v-sign .form-list input:nth-last-of-type(3){
	float: left;
}
.v-sign .form-list input:nth-last-of-type(2),.v-sign .form-list input:nth-last-of-type(4){
	float: right;
}
footer{
	height: 520px;
    text-align: center;
}
footer .contact{
	height: 400px;
	padding-top: 80px;
	background-color: #32353e;
}
footer .contact h2,p{
	color: #FFFFFF;
}
footer .contact h2{
	font-size: 21px;
	padding-bottom: 10px;
}
footer .contact p{
	font-family: "微软雅黑";
	font-size: 12px;
	margin-bottom: 30px;
}
footer .contact div{
	width: 590px;
	margin: 0 auto;
	margin-bottom: 30px;
}
footer .contact input{
	height: 40px;
}
footer .contact .e-m{
	width: 520px;
	padding-left: 20px;
	font-size: 14px;
	border: none;
	float: left;
}
footer .contact .sub{
	width: 50px;
	border: none;
	font-family: "微软雅黑";
	font-size: 14px;
	column-rule-color: #FFFFFF;
	background-color: #686166;
}	

footer .contact li{
	display: inline-block;
	list-style-type: none;
	width: 50px;
}
footer .footer-bottom{
	height:37px ;
	padding-top: 20px;
	background-color: #2f3038;
	font-size: 12px;
}
footer .footer-bottom .fb-left{
	padding-left: 100px;
	float: left;
}
footer .footer-bottom .back-to-top{
	float: right;
	padding-right:50px ;
}
